@import "searchbar.css";
@import "meals-container.css";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  color: white;
  padding: 20px;
  background-color: rgb(31, 86, 141);
  font-size: 16px;
}

app-bar > h1 {
  margin: 0 auto;
  font-style: italic;
}

app-bar {
  display: flex;
  justify-content: center;
}

#tip {
  margin-top: 24px;
  text-align: center;
}

/* hide the tip when the user already click once on the meal item, configured in meal-item.js */
.hide {
  display: none;
}
